﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    var backgroundImage = Model.Content.HeroBackgroundImage != null ? Model.Content.HeroBackgroundImage.Url : String.Empty;
}

@* style="background-image: url('@backgroundImage')" *@

<script
			  src="http://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>

<style type="text/css">
    
    .par-hero {
        
        position:absolute;    
        top:0;
        left:0;
        right:0;
        bottom:0;
        overflow:hidden;
        
        
    }
    
    .par-hero img {
        display: inline-block;
        height:120%;
        width:120%;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }
    
    .par-hero div {
        display: inline-block;
        position:absolute;
        height:100%;
        width:100%;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color: rgba(100,100,100,.6);
    }
   
 
</style>


<script type="text/javascript">

    var el;
    var win = $( window );

    $(document).ready(function() {
        el = $("#heroImg");    
    });

    
   // define the function outside the onscroll function so it doesn't get redefined
    var getScroll;

    
    function repeatOften() {
        if (el) {
            
            //var val = 'translateY(' + -getScroll + 'px)';
            var val = 'translateY(' + -getScroll + 'px) translateX(' + -getScroll + 'px)';
            
            //var val = 'rotateY(' + getScroll + 'deg) rotateX(' + getScroll +;
            //var val = 'scale(' + getScroll / 100 ')';
            
            el.css("transform", val);
        }
    };
    
    win.scroll(function() {
        getScroll = win.scrollTop() * .15;
        requestAnimationFrame(repeatOften);
    });
    
    
</script>


<section class="section section--full-height background-image-full overlay overlay--dark section--content-center section--thick-border"
         >
    
    
    

<div class="par-hero">
        <img id="heroImg" src="@backgroundImage" />
        <div></div>
    </div>


    
         
    <div class="section__hero-content">
        <h1>@Model.Content.HeroHeader</h1>
        <p class="section__description">@Model.Content.HeroDescription</p>
        <a class="button button--border--solid" href="@Model.Content.HeroCtalink.Url">
            @Model.Content.HeroCtacaption
        </a>

    </div>
</section>

<section class="section section">
    @Html.GetGridHtml(Model.Content, "bodyText", "bootstrap3-fluid")
</section>


<section class="section section--themed">

    <div class="container">
        <div class="row">

            <div class="ta-center">
                <h2>@Model.Content.FooterHeader</h2>
                <p class="section__description mw-640 ma-h-auto">@Model.Content.FooterDescription</p>

                <a class="button button--border--light_solid" href="@Model.Content.FooterCtalink.Url">
                    @Model.Content.FooterCtacaption
                </a>

            </div>

        </div>
    </div>

</section>